# FoCS Project 2019/ - Matteo Licciardello mat. 799368

### Import libraries and data

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
loans_lenders = pd.read_csv('C:/Users/matal/Desktop/loans_lenders.csv')

In [163]:
loans_lenders.head()

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

### 1) Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender

In [166]:
#Conversione lenders in lista di elementi

tmp = loans_lenders.lenders.str.split(", ")
loans_lenders['lenders'] = tmp
loans_lenders

         loan_id                                            lenders
0         483693  [muc888, sam4326, camaran3922, lachheb1865, re...
1         483738  [muc888, nora3555, williammanashi, barbara5610...
2         485000  [muc888, terrystl, richardandsusan8352, sherri...
3         486087  [muc888, james5068, rudi5955, daniel9859, don9...
4         534428  [muc888, niki3008, teresa9174, mike4896, david...
...          ...                                                ...
1387427   678999  [michael43411218, carol5987, gooddogg1, chris4...
1387428  1207353  [rjhoward1986, jeffrey6870, trolltech4460, ely...
1387429  1206220  [vicky7746, gooddogg1, fairspirit, craig972996...
1387430  1206425  [rich6705, sergiiy9766, angela7509, barbara561...
1387431  1206486                            [alan5175, amy38101311]

[1387432 rows x 2 columns]

In [169]:
## Creazione Dataframe con ogni riga corrispondente ad un lender

loans_lenders = loans_lenders.explode('lenders')
pd.DataFrame(loans_lenders)
loans_lenders

In [3]:
## Dump dataframe
#loans_lenders.to_csv('C:/Users/matal/Desktop/loans_lenders_1.csv', index=False)
## Read dataframe
loans_lenders = pd.read_csv('C:/Users/matal/Desktop/loans_lenders_1.csv')
loans_lenders

          loan_id            lenders
0          483693             muc888
1          483693            sam4326
2          483693        camaran3922
3          483693        lachheb1865
4          483693        rebecca3499
...           ...                ...
28293926  1206425  trogdorfamily7622
28293927  1206425          danny6470
28293928  1206425            don6118
28293929  1206486           alan5175
28293930  1206486        amy38101311

[28293931 rows x 2 columns]

### 2) For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing

In [4]:
loans = pd.read_csv('C:/Users/matal/Desktop/loans.csv')
loans.head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_code,country_name,town_name,currency_policy,currency_exchange_coverage_rate,currency,partner_id,posted_time,planned_expiration_time,disburse_time,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,PH,Philippines,Ozamiz - Ozamiz City,shared,0.1,PHP,126.0,2014-01-15 02:23:45.000 +0000,2014-02-14 03:30:06.000 +0000,2013-12-22 08:00:00.000 +0000,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",HN,Honduras,"La Lopez, Choloma",shared,0.1,HNL,201.0,2014-01-14 20:23:20.000 +0000,2014-03-26 22:25:07.000 +0000,2013-12-20 08:00:00.000 +0000,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",PK,Pakistan,Lala Musa,shared,0.1,PKR,245.0,2014-01-16 11:32:58.000 +0000,2014-02-15 21:10:05.000 +0000,2014-01-09 08:00:00.000 +0000,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",KG,Kyrgyzstan,"Aravan village, Osh region",shared,0.1,KGS,171.0,2014-01-20 09:59:48.000 +0000,2014-02-21 03:10:02.000 +0000,2014-01-17 08:00:00.000 +0000,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,PH,Philippines,"Baleleng, Sto. Thomas, Isabela",shared,0.1,PHP,123.0,2014-01-14 05:46:21.000 +0000,2014-02-13 06:10:02.000 +0000,2013-12-17 08:00:00.000 +0000,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner

In [5]:
loans.planned_expiration_time

0          2014-02-14 03:30:06.000 +0000
1          2014-03-26 22:25:07.000 +0000
2          2014-02-15 21:10:05.000 +0000
3          2014-02-21 03:10:02.000 +0000
4          2014-02-13 06:10:02.000 +0000
                       ...
1419602    2016-01-02 01:00:03.000 +0000
1419603    2016-01-02 16:40:07.000 +0000
1419604    2016-01-03 22:20:04.000 +0000
1419605    2016-01-05 08:50:02.000 +0000
1419606    2016-01-03 20:50:06.000 +0000
Name: planned_expiration_time, Length: 1419607, dtype: object

In [6]:
loans.disburse_time

0          2013-12-22 08:00:00.000 +0000
1          2013-12-20 08:00:00.000 +0000
2          2014-01-09 08:00:00.000 +0000
3          2014-01-17 08:00:00.000 +0000
4          2013-12-17 08:00:00.000 +0000
                       ...
1419602    2015-11-23 08:00:00.000 +0000
1419603    2015-11-24 08:00:00.000 +0000
1419604    2015-11-13 08:00:00.000 +0000
1419605    2015-11-03 08:00:00.000 +0000
1419606    2015-11-03 08:00:00.000 +0000
Name: disburse_time, Length: 1419607, dtype: object

In [7]:
## Si valuta la presenza di valori nulli nelle due colonne di valori

print(loans.planned_expiration_time.isna().sum(), loans.disburse_time.isna().sum())

371834 2813

In [8]:
print(type(loans.planned_expiration_time), type(loans.disburse_time))

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

In [9]:
## I valori vengono forniti in formato stringa
## Necessario convertire in date-time per poter effettuare l'operazione di differenza temporale richiesta
## L'operazione non viene effettuata per i valori nulli

loans['planned_expiration_time'] = pd.to_datetime(loans['planned_expiration_time'])
loans['disburse_time'] = pd.to_datetime(loans['disburse_time'])

In [10]:
## Creazione dell'attributo "duration" che indica la durata del prestito

loans['duration'] = loans['planned_expiration_time'] - loans['disburse_time']

In [11]:
## Il numero di valori nulli ottenuto è dato dalla somma dei valori nulli dei due attributi
## In questo caso non corrisponde perfettamente perché due record hanno entrambi valori nulli
## A questi viene lasciato il valore nullo già assegnato

print(loans.duration.isna().sum())

374645

In [12]:
## Il nuovo attributo si trova nell'ultima colonna del dataframe

loans.head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_code,country_name,town_name,currency_policy,currency_exchange_coverage_rate,currency,partner_id,posted_time,planned_expiration_time,disburse_time,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,PH,Philippines,Ozamiz - Ozamiz City,shared,0.1,PHP,126.0,2014-01-15 02:23:45.000 +0000,2014-02-14 03:30:06+00:00,2013-12-22 08:00:00+00:00,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner,53 days 19:30:06
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",HN,Honduras,"La Lopez, Choloma",shared,0.1,HNL,201.0,2014-01-14 20:23:20.000 +0000,2014-03-26 22:25:07+00:00,2013-12-20 08:00:00+00:00,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner,96 days 14:25:07
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",PK,Pakistan,Lala Musa,shared,0.1,PKR,245.0,2014-01-16 11:32:58.000 +0000,2014-02-15 21:10:05+00:00,2014-01-09 08:00:00+00:00,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner,37 days 13:10:05
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",KG,Kyrgyzstan,"Aravan village, Osh region",shared,0.1,KGS,171.0,2014-01-20 09:59:48.000 +0000,2014-02-21 03:10:02+00:00,2014-01-17 08:00:00+00:00,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner,34 days 19:10:02
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,PH,Philippines,"Baleleng, Sto. Thomas, Isabela",shared,0.1,PHP,123.0,2014-01-14 05:46:21.000 +0000,2014-02-13 06:10:02+00:00,2013-12-17 08:00:00+00:00,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner,57 days 22:10:02

In [13]:
## Dump dataframe
loans.to_csv('C:/Users/matal/Desktop/loans_1.csv', index=False)
## Read dataframe
loans = pd.read_csv('C:/Users/matal/Desktop/loans_1.csv')

In [14]:
loans.head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_code,country_name,town_name,currency_policy,currency_exchange_coverage_rate,currency,partner_id,posted_time,planned_expiration_time,disburse_time,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,PH,Philippines,Ozamiz - Ozamiz City,shared,0.1,PHP,126.0,2014-01-15 02:23:45.000 +0000,2014-02-14 03:30:06+00:00,2013-12-22 08:00:00+00:00,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner,53 days 19:30:06.000000000
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",HN,Honduras,"La Lopez, Choloma",shared,0.1,HNL,201.0,2014-01-14 20:23:20.000 +0000,2014-03-26 22:25:07+00:00,2013-12-20 08:00:00+00:00,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner,96 days 14:25:07.000000000
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",PK,Pakistan,Lala Musa,shared,0.1,PKR,245.0,2014-01-16 11:32:58.000 +0000,2014-02-15 21:10:05+00:00,2014-01-09 08:00:00+00:00,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner,37 days 13:10:05.000000000
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",KG,Kyrgyzstan,"Aravan village, Osh region",shared,0.1,KGS,171.0,2014-01-20 09:59:48.000 +0000,2014-02-21 03:10:02+00:00,2014-01-17 08:00:00+00:00,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner,34 days 19:10:02.000000000
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,PH,Philippines,"Baleleng, Sto. Thomas, Isabela",shared,0.1,PHP,123.0,2014-01-14 05:46:21.000 +0000,2014-02-13 06:10:02+00:00,2013-12-17 08:00:00+00:00,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner,57 days 22:10:02.000000000

### 3) Find the lenders that have funded at least twice

In [47]:
## Conto il numero di volte che un lenders ha finanziato selezionando solo quelli che hanno partecipato a più di un finanziamento
## Sono presenti circa 9000 duplicati, quindi persone che partecipano allo stesso finanziamento in più fasi
## Queste vengono considerate così come sono

twice = loans_lenders.lenders.value_counts()
twice = twice[twice.values >= 2]
len(twice)

901811

In [48]:
twice

gooddogg1           177645
trolltech4460       150762
gmct                128159
nms                 104314
themissionbeltco     81434
                     ...
nigel3150                2
shiena9439               2
amanda33038616           2
dana34287815             2
alejandro9254            2
Name: lenders, Length: 901811, dtype: int64

In [49]:
## Dump del dataset con lenders che hanno finanziato almeno 2 volte
## Permette di visionare per intero i valori restituiti
#twice.to_csv('C:/Users/matal/Desktop/twice.csv', index=False)

### 4) For each country, compute how many loans have involved that country as borrowers.

In [74]:
## Per ciascun prestito venogno annotati una serie di valori che identificano il prestito, la nazionalità è uno di questi
## Si procede a contare quante volte ciascuno stato compare nel dataset loans.csv, dopo una verifica dei valori nulli

loans.country_name.isna().sum()

0

In [77]:
## Non si evidenziano valori nulli, si procede ad effettuare il conteggio

involved = loans['country_name'].value_counts()
involved

Philippines         285336
Kenya               143699
Peru                 86000
Cambodia             79701
El Salvador          64037
                     ...
Uruguay                  1
Botswana                 1
Papua New Guinea         1
Canada                   1
Mauritania               1
Name: country_name, Length: 96, dtype: int64

In [76]:
## Dump del dataset che conta in quanti prestiti è coinvolto ogni stato
## Permette di visionare per intero l'elenco dei paesi coinvolti
#involved.to_csv('C:/Users/matal/Desktop/involved.csv', index=False)

### 5) For each country, compute the overall amount of money borrowed.

### 6) Like the previous point, but expressed as a percentage of the overall amount lent.

### 7) Like the three previous points, but split for each year (with respect to disburse time).

### 8) For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.

### 9) For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

### 10) Which country has the highest ratio between the difference computed at the previous point and the population?

### 11) Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

### 12) For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.